* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Rubik;
    src: url("../62933a2951ef01f4eafd9bdf4d3cd2f0/980d14c0c85495b48b9a9134658e6121/Rubik_Pixels/RubikPixels-Regular.ttf");
}

body {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.067);
    /*text-shadow: .5px -.5px 0px rgba(255, 255, 255, 1), -.5px .5px 0px rgba(255, 255, 255, 1), .5px .5px 0px rgba(255, 255, 255, 1), -.5px -.5px 0px rgba(255, 255, 255, 1);*/
    /*text-shadow: .5px -.5px 0px rgba(0, 0, 0, 1), -.5px .5px 0px rgba(0, 0, 0, 1), .5px .5px 0px rgba(0, 0, 0, 1), -.5px -.5px 0px rgba(0, 0, 0, 1);*/
    /*mix-blend-mode: overlay;*/
    background-image: url("../62933a2951ef01f4eafd9bdf4d3cd2f0/9ed98e5c3e9685aa3de82c99009a2ed3/a81259cef8e959c624df1d456e5d3297.gif");
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}