* {
    padding: 0;
    margin: 0;
}

.hidden {
    font-family: wingdings;
    color: white;
    bottom: 0px;
    right: 0px;
    position: fixed;
}

body {
    margin: 10px;
    font-family: monospace, 'Courier New', Courier;
}